<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Height Collector</title>

    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

    <div class="container">

        <h1>Collecting height</h1>
        <h3>Please fill in the entries to get population statistics on height</h3>
        <div class="message">
            {{text|safe}}
        </div>
        
        <form action="{{url_for('success')}}" method="post">
            <input type="email" name="useremail"  title="Your email will be safe with us" placeholder="Enter your email"><br><br>
            <input type="number" name="userheight" title="Your height will be safe with us" placeholder="Enter your height in cms" min="50" max="300"><br><br>
            <button type="submit">submit</button>
        </form>

    </div>
    
</body>
</html>